<p>
  <strong>Name:</strong>
  <%= @subcategory.name %>
</p>
<p>
  <strong>Activated:</strong>
  <%= @subcategory.activated %>
</p>
<p>
  <strong>Category:</strong>
  <%= @subcategory.category.name %>
</p>
<%= link_to 'Edit', edit_admin_category_subcategory_path(@subcategory.category, @subcategory) %> |
<%= link_to 'Back', admin_category_subcategories_path(@subcategory.category) %>
