<%= form_with(model: profile, url: url) do |form| %>
  <div class="row">
    <div class="col-md-3">
      <% if @profile.image.attached? %>
        <%= cl_image_tag @profile.image.key, :width=>300, :crop=>"fill" %>
      <% end %>
      <div class="form-group">
        <%= form.label :image %>
        <%= form.file_field :image, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-9">
      <% if profile.errors.any? %>
        <%= render 'messages/form', element: profile%>
      <% end %>
      <div class="form-group">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, class: 'form-control', placeholder: Profile.human_attribute_name('first_name')%>
      </div>
      <div class="form-group">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, class: 'form-control', placeholder: Profile.human_attribute_name('last_name') %>
      </div>
      <div class="form-group">
        <%= form.label :phone_1 %>
        <%= form.text_field :phone_1, class: 'form-control', placeholder: "+229 123456789" %>
      </div>
      <div class="form-group">
        <%= form.label :phone_2 %>
        <%= form.text_field :phone_2, class: 'form-control', placeholder: "+229 123456789" %>
      </div>
      <div class="actions">
        <%= form.submit t('helpers.submit.submit', model: Profile.model_name.human ), class: 'btn btn-primary'  %>
      </div>
    </div>
  </div>
<% end %>
