<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @product_variant_option.value %>
</p>

<p>
  <strong>Product variant:</strong>
  <%= @product_variant_option.product_variant_id %>
</p>

<p>
  <strong>Product option:</strong>
  <%= @product_variant_option.product_option_id %>
</p>

<%= link_to 'Edit', edit_product_variant_option_path(@product_variant_option) %> |
<%= link_to 'Back', product_variant_options_path %>
