<div class="mainbanner" style="background-image: url(<%= asset_url 'banner.jpg'%>)">
  <div class="overlay">
    <div class="container">
      <h1 class="title">
        TOKPA.BJ
        <h1>
          <div class="subtitle">
            <%= t("defaults.modo")%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="container-fluid">
      <div class="categories-page">
        <div class="container-fluid">
          <div class="mb-4">
            <h1><%= t("home.welcome_to_tokpa")%></h1>
            <p>
              <%= t("home.intro")%>
            </p>
          </div>
          <h3><%= t("home.find_the_best_deals_of_the_market")%></h3>
          <div class="row mb-2">
            <div class="col-lg-12 col-xxl-4-5col">
              <div class="row">
                <div class="col-md-6">
                  <div class="banner banner-overlay">
                    <a href="#">
                      <img src="images/banners/banner-2.jpg" alt="Banner img desc">
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="banner banner-overlay">
                    <a href="#">
                      <img src="images/banners/banner-3.png" alt="Banner img desc">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-xxl-5col d-none d-xxl-block">
              <div class="banner banner-overlay">
                <a href="#">
                  <img src="images/banners/banner-4.jpg" alt="Banner img desc">
                </a>
              </div>
            </div>
          </div>
          <h3><%= t("home.browe_all_the_categories")%></h3>
          <div class="row">
            <% @categories.each do |category| %>
              <div class="col-lg-4">
                <%= render 'categories/category_card', category: category, width:800, height: 400%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
