<%= form_with(model: address) do |form| %>
  <% if address.errors.any? %>
    <%= render 'messages/form', element: address%>
  <% end %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :line_1 %>
    <%= form.text_field :line_1, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :line_2 %>
    <%= form.text_field :line_2, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
