<div class="container">
  <%= render 'user/account_nav'%>
  <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Name:</strong>
        <%= @address.name %>
      </p>
      <p>
        <strong>Line 1:</strong>
        <%= @address.line_1 %>
      </p>
      <p>
        <strong>Line 2:</strong>
        <%= @address.line_2 %>
      </p>
      <p>
        <strong>Country:</strong>
        <%= @address.country %>
      </p>
      <p>
        <strong>City:</strong>
        <%= @address.city %>
      </p>
      <p>
        <strong>Zip:</strong>
        <%= @address.zip %>
      </p>
      <p>
        <strong>Long:</strong>
        <%= @address.long %>
      </p>
      <p>
        <strong>Lat:</strong>
        <%= @address.lat %>
      </p>
      <%= link_to 'Edit', edit_address_path(@address), class: 'btn btn-primary' %> |
      <%= link_to 'Back', addresses_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
