<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @product_variant.price %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product_variant.sku %>
</p>

<p>
  <strong>Image:</strong>
  <%= @product_variant.image %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product_variant.quantity %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product_variant.product_id %>
</p>

<%= link_to 'Edit', edit_product_variant_path(@product_variant) %> |
<%= link_to 'Back', product_variants_path %>
