<%= form_with(model: category, url: url) do |form| %>
  <% if category.errors.any? %>
    <%= render 'messages/form', element: category%>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <% if category.image.attached? %>
      <%= cl_image_tag category.image.key, :width=>150, :crop=>"fill" %>
    <% end %>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <div class="field">
    <%= form.label :activated %>
    <%= form.check_box :activated %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
