<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Slug:</strong>
  <%= @product.slug %>
</p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>
<p>
  <strong>Available:</strong>
  <%= @product.available %>
</p>
<p>
  <strong>Validated:</strong>
  <%= @product.validated %>
</p>
<p>
  <strong>Category:</strong>
  <%= @product.subcategory.category.name %>
</p>
<p>
  <strong>Subcategory:</strong>
  <%= @product.subcategory.name %>
</p>
<p>
  <strong>Brand:</strong>
  <%= @product.brand.name %>
</p>
<p>
  <strong>Vendor:</strong>
  <%= @product.vendor.name %>
</p>
<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
<h1>Options <%=@product.product_options.count %></h1>
<% @product.product_options.each_with_index do  |product_option,index|%>
  <p>
    <strong> Name </strong>
    <%= product_option.option.name %>
  </p>
<% end %>
<h1>
  <%= link_to "Product Variants #{@product.variants.count}", admin_product_variants_path(@product)%>
</h1>
<table>
  <thead>
    <tr>
      <th>Image</th>
      <% @product.options.each do |option| %>
        <th>
          <%= option.name %>
        </th>
      <% end %>
      <th>Price</th>
      <th>Sku</th>
      <th>Quantity</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @product.variants.each do |variant| %>
      <tr>
        <td>
          <% if variant.image.attached? %>
            <%= cl_image_tag variant.image.key, :width=>60, :crop=>"fill" %>
          <% end %>
        </td>
        <% variant.product_variant_options.each do |option| %>
          <td>
            <%= option.value %>
          </td>
        <% end %>
        <td><%= variant.price %></td>
        <td><%= variant.sku %></td>
        <td><%= variant.quantity %></td>
        <td><%= variant.product_id %></td>
        <td><%= link_to 'Show', admin_product_variant_path(variant.product, variant)  %></td>
        <td><%= link_to 'Edit', edit_admin_product_variant_path(variant.product, variant) %></td>
        <td><%= link_to 'Destroy', admin_product_variant_path(variant.product, variant), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Product Variant', new_admin_product_variant_path(@product) %>
