<div class="banner banner-cat banner-badge">
  <%= link_to  category_path(category.slug) do %>
    <% if category.image.attached? %>
      <%= cl_image_tag category.image.key, :width=> width,:height => height, :crop=>"fill", class: 'product-image' %>
    <% end %>
  <% end %>
  <%= link_to  category_path(category.slug), class: 'banner-link' do %>
    <h3 class="banner-title" title="#{<%= category.name%>}"><%= category.name%></h3>
    <span class="banner-link-text">Shop Now</span>
  <% end %>
</div>
