<div class="product product-7 text-center">
  <figure class="product-media">
    <%= link_to  product_path(product.slug) do %>
      <% if product.variants.first.image.attached? %>
        <%= cl_image_tag product.variants.first.image.key, :width=> 500,:height => 500, :crop=>"fill", class: 'product-image' %>
      <% end %>
    <% end %>
  </figure>
  <div class="product-body">
    <div class="product-cat">
      <%= link_to "#{product.subcategory.name}", subcategory_path(product.subcategory.slug, product.subcategory.slug)  %>
    </div>
    <h3 class="product-title">
      <%= link_to "#{product.name}", product_path(product.slug)  %>
    </h3>
    <div class="product-price">
      <%= product.variants.first.price%>
    </div>
  </div>
</div>
