<header class="header header-10 header-intro-clearance">
  <div class="header-top">
    <div class="container">
      <div class="header-left">
        <%# <a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a> %>
      </div>
      <div class="header-right">
        <ul class="top-menu">
          <li>
            <a href="#">Links</a>
            <ul>
              <li>
                <div class="header-dropdown">
                  <a href="#">USD</a>
                  <div class="header-menu">
                    <ul>
                      <li><a href="#">Eur</a></li>
                      <li><a href="#">Usd</a></li>
                    </ul>
                  </div>
                  <!-- End .header-menu -->
                </div>
                <!-- End .header-dropdown -->
              </li>
              <li>
                <div class="header-dropdown">
                  <a href="#">Engligh</a>
                  <div class="header-menu">
                    <ul>
                      <li><a href="#">English</a></li>
                      <li><a href="#">French</a></li>
                      <li><a href="#">Spanish</a></li>
                    </ul>
                  </div>
                  <!-- End .header-menu -->
                </div>
                <!-- End .header-dropdown -->
              </li>
              <li class="login">
                <a href="#signin-modal" data-toggle="modal">Sign in / Sign up</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="header-middle">
    <div class="container">
      <div class="header-left">
        <button class="mobile-menu-toggler">
          <span class="sr-only">Toggle mobile menu</span>
          <i class="icon-bars"></i>
        </button>
        <%= link_to 'Tokpa', root_path, class: "navbar-brand fs-1"%>
      </div>
      <div class="header-center">
        <div class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
          <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
          <%= form_with(model: @product, url: search_path, method: 'GET') do |form| %>
            <div class="header-search-wrapper search-wrapper-wide">
              <div class="select-custom">
                <%= form.select(:category_id, options_for_select(@categories.collect{ |v| [v.name,v.id] }),{:include_blank => "All Departments"}) %>
              </div>
              <label for="q" class="sr-only">Search</label>
              <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
              <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </div>
          <% end %>
        </div>
      </div>
      <div class="header-right">
        <div class="header-dropdown-link">
          <% if !user_signed_in? %>
            <div class="dropdown compare-dropdown">
              <a href="<%= new_user_session_path %>" class=""  title="Login" >
                <span class="compare-txt">Login</span>
              </a>
            </div>
            <div class="dropdown compare-dropdown">
              <%= link_to  new_user_registration_path, class: "dropdown-toggle",title:"Register" do %>
                <span class="compare-txt">Register</span>
              <% end %>
            </div>
          <% else %>
            <div class="dropdown compare-dropdown">
              <a href="<%= user_root_path %>" class=""  title="Login" >
                <span class="compare-txt"> Account</span>
              </a>
            </div>
            <div class="dropdown compare-dropdown">
              <a href="<%= destroy_user_session_path %>" class="" data-method="delete"  title="Login" >
                <span class="compare-txt"> Sign Out</span>
              </a>
            </div>
          <% end %>
          <div class="dropdown compare-dropdown">
            <a href="<%= show_cart_path%>" title cart>
              <span class="compare-txt"> Cart</span>
            </a>
          </div>
        </div>
      </div>
      <!-- End .header-right -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .header-middle -->
  <div class="header-bottom sticky-header">
    <div class="container">
      <div class="header-left">
        <div class="dropdown category-dropdown " data-visible="true">
          <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-display="static" title="Browse Categories">
            Browse Categories
          </a>
          <div class="dropdown-menu">
            <nav class="side-nav">
              <ul class="menu-vertical sf-arrows">
                <% @categories.take(10).each do |category| %>
                  <li class="megamenu-container">
                    <%= link_to "#{category.name.truncate(25)}", category_path(category.slug), class: 'icon-laptop' %>
                    <% if category.subcategories.count > 0 %>
                      <div class="megamenu">
                        <div class="row no-gutters">
                          <div class="col-md-8">
                            <div class="menu-col">
                              <div class="row">
                                <div class="col-md-6">
                                  <ul>
                                    <% get_subcategories_pages(category, 1).each do |item| %>
                                      <li><%= link_to "#{item.name}", subcategory_path(item.category.slug,item.slug) %></li>
                                    <% end %>
                                  </ul>
                                </div>
                                <div class="col-md-6">
                                  <ul>
                                    <% get_subcategories_pages(category, 2).each do |item| %>
                                      <li><%= link_to "#{item.name}", subcategory_path(item.category.slug,item.slug) %></li>
                                    <% end %>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4" >
                            <div class="banner banner-overlay">
                              <%= link_to  category_path(category.slug), class: 'banner banner-menu' do %>
                                <% if category.image.attached? %>
                                  <%= cl_image_tag category.image.key, :width=>280,:height => 440, :crop=>"fill" %>
                                <% end %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </li>
                <% end %>
                <li><%= link_to "All Categories", categories_path, class: 'icon-laptop' %></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="header-center">
        <nav class="main-nav">
          <ul class="menu ">
            <li>
              <%= link_to "Home", root_path, class: 'sf-with-ul' %>
            </li>
            <li>
              <%= link_to "Categories", categories_path, class: 'sf-with-ul' %>
            </li>
            <li>
              <%= link_to "Vendors", vendors_path, class: 'sf-with-ul' %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
